@{
    ViewBag.Title = "Index";
}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"
    type="text/javascript"></script>
<table border="0" id="move">
    <tr>
        <td></td>
        <td>
            <input type="button" value=" up "
                data-key="up" data-x="0" data-y="1"  />
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <input type="button" value="left"
                data-key="left" data-x="1" data-y="0"  />
        </td>
        <td>
           
        </td>
        <td>
            <input type="button" value="right"
                data-key="right" data-x="-1" data-y="0" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="down"
                data-key="down" data-x="0" data-y="-1" />
        </td>
        <td></td>
    </tr>
</table>

<table id="zoom">
    <tr>
        <td>
              <input type="button" value="home" data-key="home" data-zoom="1" />
        </td>
    </tr>
    <tr>
        <td>
              <input type="button" value="end" data-key="end" data-zoom="-1" />
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(function() {
        var controller = {
            move: function(target) {
                var $target = $(target),
                    x = $target.data('x'),
                    y = $target.data('y');
                $.post("/Home/Move", { x: x, y: y});
            },
            zoom: function(target) {
                var value = $(target).data('zoom');
                $.post("/Home/Zoom", { value: value });
            }
        };

        $('#move input').click(function () {
            controller.move(this);
        });

        $('#zoom input').click(function () {
            controller.zoom(this);
        });

        $(document).keydown(function (e) {
            var navKeys = {
                '35': {
                    key: 'end',
                    cmd: 'zoom'
                },
                '36': {
                    key: 'home',
                    cmd: 'zoom'
                },
                '37': {
                    key: 'left',
                    cmd: 'move'
                },
                '38': {
                    key: 'up',
                    cmd: 'move'
                },
                '39': {
                    key: 'right',
                    cmd: 'move'
                },
                '40': {
                    key: 'down',
                    cmd: 'move'
                }
            };

            var navKey = navKeys[e.which.toString()];

            if (!navKey) return;

            controller[navKey.cmd].call(controller, $('input[data-key=' + navKey.key + ']'));
        });
    });
</script>
