<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!-- TODO: For UI stuff later -->
    <add key="videoOverlayWindowClass" value="IMWindowClass"/>
    <add key="defaultCorner" value="?"/>
    
    <!--<add key="remoteGroup" value="SCOTTHA-CART7"/>-->
    <add key="remoteGroup" value="SIGNALR-TEAM"/>
    <add key="relayServerUrl" value="https://hanselmanlyncrelay.azurewebsites.net"/>
  </appSettings>
</configuration>
